body{
  background-image: url(lake-blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  padding: 0%;
  justify-content: center;
min-height: 100vh;
display: flex;
padding-top: 100px;
  
  
}
.warapper{
  background-color: rgb(172, 179, 244);
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 20px;
  width: 350px;
  height: 400px;
  background-position: center;
  border-radius: 30px;
}
.warapper h1{
  text-align: center;
}

*{
  text-align: center;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}

